.file {
  color        : transparent;
  width        : 80px;
  margin-bottom: 4px;

  &::-webkit-file-upload-button {
    visibility: hidden;
  }

  &::before {
    width        : 100%;
    content      : 'Upload';
    color        : grey;
    display      : inline-block;
    border       : 1px solid grey;
    border-radius: 8px;
    padding      : 4px 12px;
    outline      : none;
    white-space  : nowrap;
    -user-select : none;
    cursor       : pointer;
  }

  &:hover::before {
    color       : black;
    border-color: black;
  }

  &~p.file-error {
    color    : red;
    margin-bottom   : 12px;
    font-size: 10px;
  }
}