@import "../../scss/mixin.scss";

.rule {
    width: 75%;
    margin: 0 auto;
    z-index: 1;

    h2, h3, h4{
        font-size: 20px;
    }

    .text {
        max-height: 70vh;
        overflow: scroll;
        font-size: 0.9rem;
        margin-top: 24px;
        text-align: justify;
        overflow-x: unset;
        padding: 0px 13px;
        z-index: 9;
    }

    .logo {
        position: absolute;
        bottom: 80px;
        right: 24px;
        text-align: right;

        img {
            height: 80px;
        }
    }

    @include under-desktop {
        .text {
            max-height: 90vh;
        }
    }

    @include under-tablet {
        & {
            width: 100%;
            padding: 0 24px;
        }
    }

    @include under-phone {
        .logo {
            position: static;
            text-align: right;
            width: 100%;

            img {
                height: 60px;
                margin-bottom: 12px;
            }
        }
    }
}
